<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Happy New Year!</title>
  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: right;
}
</style>


      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <p>
        <h1>Happy new year <span>API</span></h1>
    </p>
    <p style="margin-top:50px;">
        <h3>Send your friends custom happy new year images</h3>
    </p>
	<div id="about" style="margin:65px; margin-top:80px;">
	    <p>
        We have designed and made this new year RESTful api to help  people share custom images with their friends. Also it contains api for addition, subtraction, multiplication, division and exponentiation.
        </p>
        <h3>This wep app has been developed by CS undergrad  <a href="https://subratasarkar32.github.io/" >Subrata Sarkar</a> at <a href="https://gcect.ac.in" >Government College of Engineering and Ceramic Technology</a>.</h3>
        <h3>Email: <a href="mailto:subrotosarkar32@gmail.com">subrotosarkar32@gmail.com</a></h3>
	</div>

<div class="footer">
  <a href="https://qwertyuisub.pythonanywhere.com">Home</a> | <a href="https://qwertyuisub.pythonanywhere.com/about/">About</a> | <a href="https://qwertyuisub.pythonanywhere.com/contact/">Contact</a> | <a href="https://github.com/SubrataSarkar32/">Source</a>
</div>
</body>
</html>