<!DOCTYPE html>
<html>
 <head>
   <title>Happy New Year!</title>
  </head>
<style>
</style>
<body>
    <h1>Happy New Year!!!</h1>
<h3>To</h3> <h1>{{ recieve }}</h1><br>
<img src='{{ user_image }}'></img><br>
<h3>From</h3> <h1>{{ send }}</h1><br>

<div class="footer">
    <a href="https://qwertyuisub.pythonanywhere.com">Home</a> | <a href="https://qwertyuisub.pythonanywhere.com/about/">About</a> | <a href="https://qwertyuisub.pythonanywhere.com/contact/">Contact</a> | <a href="https://github.com/SubrataSarkar32/">Source</a>
  </div>

</body>
</html>
